<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles/styles.css">
        <link rel="icon" href="/static/resources/globe.ico" type="image/x-icon">
        <title>Hailey's Personal Website</title>

        <meta name="title" content="Hailey's Personal Website" />
        <meta name="description" content="This is my personal website" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://haileyy.dev/" />
        <meta property="og:title" content="Hailey's Personal Website" />
        <meta property="og:description" content="This is my personal website" />
        <meta property="og:image" content="/static/resources/banner.png" />
    </head>
    <body>
        <div class="content">
            <h1 class="title">haileyy.dev</h1>
            <p class="body">This is Hailey's personal website.</p>
            <h2 class="title">- links -</h2>
            <p class="body">My github: <a href="https://github.com/haileyydev">https://github.com/haileyydev</a></p>
            <h2 class="title">- services -</h2>
            <p class="body">Maildrop: <a href="https://maildrop.haileyy.dev">https://maildrop.haileyy.dev</a></p>
        </div>
    </body>
</html>